@model OnboardingDervico.Models.useronboard

@{
    ViewData["Title"] = "DetailsOnboardUser";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h1>DetailsOnboardUser</h1>
<body style="margin-left:20px">
<div>
    <h4>useronboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.businessUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.businessUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.team)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.derivcoManager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.derivcoManager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costCentre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costCentre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditOnboardUser" asp-route-id="@Model?.empId">Edit</a> |
    <a asp-action="Details">Back </a>
</div>
</body>
