@model OnboardingDervico.Models.useronboard

@{
    ViewData["Title"] = "DetailsOnboardUser";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<h1>DetailsOnboardUser</h1>



<table class="table" style="margin-left:20px">
    <tr>
        <th>EmpId</th>
        <td>@Model.empId</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.name</td>
    </tr>
    <tr>
        <th>EmailId</th>
        <td>@Model.emailId</td>
    </tr>
    <tr>
        <th>business Unit </th>
        <td>@Model.businessUnit</td>
    </tr>
    <tr>
        <th>Team</th>
        <td>@Model.team</td>
    </tr>
    <tr>
        <th>SubTeam</th>
        <td>@Model.subTeam</td>
    </tr>
    <tr>
        <th>Position</th>
        <td>@Model.position</td>
    </tr>
    <tr>
        <th>Profile</th>
        <td>@Model.jobProfile</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>@Model.location</td>
    </tr>
    <tr>
        <th>Manager</th>
        <td>@Model.derivcoManager</td>
    </tr>
     <tr>
        <th>StartDate</th>
        <td>@Model.startDate</td>
    </tr>
     <tr>
        <th>CostCentre</th>
        <td>@Model.costCentre</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@Model.gender</td>
    </tr>

</table>
<div style="margin-left:30px">
    
    <a asp-action="EditOnboardUser" class="btn btn-outline-warning" asp-route-id="@Model?.empId">Edit</a> |
   <a href="/" class="btn btn-danger"> Back  </a>

</div>

